
@model System.Collections.Generic.IEnumerable<Ares.Core.Domain.Customer>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettlementRating)
        </th>
        <th>
            Operations
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CustomerId.ToString(), "Update", "Restaurant", new { userId = item.UserId }, new { })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isactive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SettlementRating)
                </td>
                <td>
                    @Html.ActionLink("Transactions", "Transactions", new { customerId = item.CustomerId, pageIndex = 0 })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            No Data.
        </tr>
    }
</table>
