@using Ares.Core;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GD Restaurant Discount</title>

    <!-- Bootstrap Styles-->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="@Url.Content("~/Scripts/morris.js")" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="@Url.Content("~/Content/custom-styles.css")" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home"><img style="height:60px" class="img-responsive" src="~/images/unnamed.png" /> </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            @Html.ActionLink(" Logout", "Logout", "Login", null, new { @class = "fa fa-sign-out fa-fw" })
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        @Html.ActionLink(" Summary", "Index", "Home", null, new { @class = "fa fa-dashboard" })
                    </li>
                    <li>
                        @Html.ActionLink(" Restaurants Management", "Index", "Restaurant", null, new { @class = "fa fa-shopping-cart" })
                    </li>
                    @if (HttpContext.Current.Request.Cookies[Constants.Cookie_RoleTypeName].Value == "Administrator")
                    {
                        <li>
                            @Html.ActionLink(" Employees Management", "Index", "Employee", null, new { @class = "fa fa-user" })
                        </li>
                        <li>
                            @Html.ActionLink(" Configurations", "Index", "Configuration", null, new { @class = "fa fa-qrcode" })
                        </li>
                        <li>
                            @Html.ActionLink(" Logs", "Index", "Log", null, new { @class = "fa fa-table" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            @RenderBody()
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="~/scripts/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="~/scripts/raphael-2.1.0.min.js"></script>
    <script src="~/scripts/morris.js"></script>

    <script src="~/scripts/easypiechart.js"></script>
    <script src="~/scripts/easypiechart-data.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/custom-scripts.js"></script>


</body>

</html>