@model Ares.Core.Dto.SettlementForCustomerReturnModel

<h2>Summary</h2>
<br />
@Html.ActionLink("Last one month", "GetAdministratorTransHistory", new { startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1), endDate = DateTime.Now })
@Html.ActionLink("Last two month", "GetAdministratorTransHistory", new { startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month - 1, 1), endDate = DateTime.Now })
@Html.ActionLink("Last three month", "GetAdministratorTransHistory", new { startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month - 2, 1), endDate = DateTime.Now })
<table class="table table-bordered table-striped">
    <tr>
        <th>
            TransYear
        </th>
        <th>
            TransMonth
        </th>
        <th>
            TotalPay
        </th>
    </tr>

    @foreach (var item in Model.ResultSet1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPay)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            CustomerID
        </th>
        <th>
            CustomerName
        </th>
        <th>
            DiscountAmount
        </th>
        <th>
            TransCount
        </th>
        <th>
            TotalAmount
        </th>
        <th>
            NeedPay
        </th>
    </tr>

    @foreach (var item in Model.ResultSet2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedPay)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>

