
@model Ares.Core.Domain.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div class="container">
        <!--login modal-->
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="text-center">Change Password</h1>
                    </div>
                    <div class="modal-body">
                        @Html.ValidationSummary()
                        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form col-md-12 center-block" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "User Name" })
                                @*<input type="text" class="form-control input-lg" placeholder="UserName">*@
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                                @*<input type="password" class="form-control input-lg" placeholder="Password">*@
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", placeholder = "NewPassword" })
                                @*<input type="password" class="form-control input-lg" placeholder="Password">*@
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6"><button class="btn btn-primary btn-lg btn-block">Change Password</button></div>
                                    <div class="col-md-6"><button class="btn btn-primary btn-lg btn-block">Cancel</button></div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>