@model System.Collections.Generic.IEnumerable<Ares.Core.Domain.Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1><br />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceTypeId)
        </th>
        <th>
            Operations
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isactive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceTypeId)
                </td>
                <td>
                    @Html.ActionLink("Transactions", "Transactions", new { pageIndex = 0, employeeId = item.EmployeeId })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            No Data.
        </tr>
    }
</table>
